.books-container{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin-top: 4%;
}

.books-container button {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: red;
    width: 100%;
    margin-top: 2%;
    padding: 2%;
}

.books-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid;
    border-radius: 7px;
    width: 100%;
    margin-bottom: 2%;
}

.booki-img img{
    /* border: solid; */
    width: 50%;
    border-radius: 50%;
}


.body{
    margin-left: 10px;
}